{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container pt-5 pb-5 min-body-height">
        <form method="POST" id="quizForm">
            {% csrf_token %}
            <div class="card shadow-sm p-4 mb-4"><!-- .questions area -->
                <div class="questions ml-2 mr-2 border-r-10" id="questionsArea">
                    <legend class="roboto-title-muted pb-2 text-center">{{ quiz.title }}</legend>
                    <p class="roboto-title-muted pb-2 text-center">{{ quiz.description }}</p>

                    <div class="quiz-info-row row border-bottom mb-5 mt-4 pb-2">
                        <div class="col-6">
                            <p class="m-0 roboto-title-muted">
                                <small>No of Questions: </small>
                                <a class="text-success" id="noOfQuestions">{{ quiz.quizquestion_set.all.count }}</a>
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="roboto-title-muted m-0 text-right">
                                <small>Duration:</small> <a class="text-danger">{{ quiz.duration }} Minutes</a>
                            </p>
                        </div>
                    </div>

                    {% for q in quiz.quizquestion_set.all|dictsort:"number" %}
                        <div class='question p-2 mb-3'>
                            <table class='w-100'>
                                <tr>
                                    <td>
                                        <b class='roboto-title-muted' id='questionNumber'>{{ q.number }} )</b>
                                    </td>
                                    <td>
                                        <textarea rows=2
                                                  class="form-control"
                                                  disabled="true"
                                                  question-id="{{ q.number }}"
                                                  style="background-color: #fff;">{{ q.question }}</textarea>
                                    </td>
                                </tr>
                            </table>

                            <div class='row m-0 pt-3 answers-row w-100'>
                                <div class='col-12 p-0' id='answersRow'>
                                    <!-- All the answers goes here -->

                                    {% for answer in q.quizquestionanswer_set.all|dictsort:"letter" %}
                                        <div class='row w-100 m-0 mb-2 answer'>
                                            <div class='col-1 mt-auto mb-auto'></div>

                                            <div class="col-11 p-0">
                                                <table class='w-100'>
                                                    <tr>
                                                        <td class='mw-30' style="width: 25px;">
                                                            <p class='roboto-title-muted m-0' id='answerLetter'>
                                                                {{ answer.letter }}
                                                            </p>
                                                        </td>
                                                        <td id='answersCol'>
                                                            <input type='text'
                                                                   class='form-control answer-input'
                                                                   q-id="{{ answer.get_q_id }}"
                                                                   letter="{{ answer.letter }}"
                                                                   value="{{ answer.answer }}"
                                                                   correct="false"
                                                                   disabled="true"
                                                                   style="background-color: #fff;"
                                                            >
                                                        </td>
                                                        <td class="pl-3 mw-20">
                                                            <a class='text-danger answer-stat-toggle incorrect'
                                                               id='answerToggle'>
                                                                <i class='fas fa-check-circle fa-lg text-secondary'></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- All the questions will be appended here -->

                </div>
            </div><!-- .questions area -->

            <div class="row">
                <div class="col-12 text-center">
                    <a href="javascript:void(0);" class="btn btn-primary pl-4 pr-4 shadow-sm small-100" id="quizStudentResponseCreateBtn"
                       data-url="{% url 'quiz-live' class_name=quiz.classroom.name|slugify quiz_pk=quiz.pk %}">
                        Submit Response
                    </a>
                    <input type="hidden"
                           id="redirectFromQuizLive"
                           value="{% url 'quiz-response' class_name=quiz.classroom.name|slugify quiz_pk=quiz.pk %}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
