asgiref==3.6.0
backports.zoneinfo==0.2.1
crispy-bootstrap4==2022.1
Django==4.1.7
django-crispy-forms==2.0
fontawesomefree==6.3.0
mysqlclient==2.1.1
Pillow==9.4.0
pip==23.0.1
setuptools==57.0.0
sqlparse==0.4.3
tzdata==2022.7
wheel==0.36.2
