/*
* Overriding W3.CSS
*/
.w3-top {
    position: sticky !important;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

.logo {
    width: 60px;
    height: 40px;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/main/free-learning.jpg");
  min-height: 100%;
}

.bgimg-1 img {
    opacity: 0.6;
}

.w3-bar .w3-button {
  padding: 16px;
}

.a-buttons {
    color: #ffffff;
}

.profile-info .name {
    font-size: 22px !important;
    font-weight: 500;
}

.profile-info-content {
    border-radius: 20px;
}


/*
Classrooms Cards
*/
body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.card-header {
    background-color: inherit !important;
    border-top-left-radius: 17px !important;
    border-top-right-radius: 17px !important;
}

.card .class-name {
    color: #13547a;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .45rem;
  border-top-right-radius: .45rem;
}

.aqua-gradient {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.class-detail-header {
    min-height: 200px;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
