{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{%  load tz %}

{% block content %}
    <div class="container-fluid min-body-height">
        <div class="container mt-5 mb-5">
            <div class="row post-author pb-4">
                <div class="col-8 text-left">
                    <a href="{% url 'class-details' quiz.classroom.pk %}" class="text-left">
                        <i class="fas fa-long-arrow-left pr-2"></i>Back to Classroom
                    </a>
                </div><!-- col-8 -->
                <div class="col-4 text-right">
                    {% if quiz.owner == user.profile %}
                        <a href="{% url 'quiz-update' class_name=quiz.classroom.name|slugify pk=quiz.pk %}">
                            <i class="fas fa-edit text-secondary"></i>
                        </a>
                        <a href="{% url 'quiz-delete' class_name=quiz.classroom.name|slugify pk=quiz.pk %}">
                            <i class="fas fa-trash-alt ml-3 text-danger"></i>
                        </a>
                    {% endif %}
                </div><!-- col-4 -->
            </div><!-- Edit and delete options for publisher -->

            <!-- quiz details header -->
            <div class="border-bottom">
                <h3 class="roboto-title-muted">{{ quiz.title }}</h3>
                <div class="row mb-2">
                    <div class="col-12 mb-0">
                        <span class="w-100 text-muted due-date"><small><b>Posted</b>: {{ quiz.date_created }},</small></span>
                        <span class="w-100 text-muted due-date ml-2">
                            <small><b>Last Modified:</b> {{ quiz.get_date_modified.date }}</small>
                        </span>
                    </div>
                </div>

                {% if user.is_lecturer %}
                    <span>
                        <a href="{% url 'quiz-questions' class_name=quiz.classroom.name|slugify quiz_pk=quiz.pk %}"
                           class="btn btn-info">
                            Edit Questions
                        </a>
                        {% if not quiz.accepting_answers %}
                            <a href="" class="btn btn-warning">Accept Responses</a>
                        {% endif %}
                    </span>
                {% endif %}
            </div>

            <!-- quiz details body -->
            <div class="row post-body mt-5">
                <div class="col-12">
                    <div class="card shadow-sm mw-800 ml-auto mr-auto mb-5 text-muted">

                        {% if user.is_lecturer %}
                            <div class="card-body">
                                <table class="table table-borderless text-muted">
                                    <tr>
                                        <th>Scheduled:</th>
                                        <td>{{ quiz.start }}</td>
                                    </tr>
                                    <tr>
                                        <th>Responses</th>
                                        <td>{{ quiz.quizstudentresponse_set.all.count }}</td>
                                    </tr>
                                </table>

                                <div class="row mt-4">
                                    <div class="col-12 text-center">
                                        {% if quiz.accepting_answers %}
                                            <a href="" class="btn btn-warning ml-auto">Stop Accepting Responses</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        {% elif user.is_student %}

                            {% if quiz.description %}
                                <div class="text-center p-4 card-header">
                                    {% if quiz.description %}
                                        <p class="mb-0">{{ quiz.description }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <div class="p-3 pt-0 text-center">
                                    {% if not responded %}
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="mb-0 roboto-title-muted mb-4">Quiz starts in:</h5>
                                                <h3 id="quizCountDown" class="roboto-title text-warning ml-2 mt-3 d-inline">
                                                    {{ time_counter }}
                                                </h3>
                                            </div>
                                        </div>

                                        <!-- storing url for time counter get view -->
                                        <input id="quizCountDownUrl" type="hidden"
                                               value="{% url 'quiz-countdown' class_name=quiz.classroom.name|slugify quiz_pk=quiz.pk %}">


                                        <!-- for time counter initial valuees  -->
                                        <input type="hidden" id="start" value="{{ quiz_start }}">
                                    {% else %}
                                        <h5 class="text-center">
                                            Your Score
                                        </h5>
                                    {% endif %}
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12 text-center">
                                        {% if not responded %}
                                            <a href="{% url 'quiz-live' class_name=quiz.classroom.name|slugify quiz_pk=quiz.pk %}"
                                               class="btn btn-success pl-4 pr-4 ml-auto">Start Quiz</a>
                                        {% else %}
                                            <a href="{% url 'quiz-response' class_name=quiz.classroom.name|slugify quiz_pk=quiz.pk %}"
                                               class="btn btn-success pl-4 pr-4 ml-auto">View Your Response</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .container-fluid -->
{% endblock %}