{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{%  load tz %}

{% block content %}
    <div class="container-fluid min-body-height">
        <div class="container mt-5 mb-5">
            {% include 'classrooms/quizzes/parts/details-header.html' %}

            <!-- quiz details body -->
            <div class="row post-body mt-5">
                <div class="col-12">
                    <div class="card shadow-sm mw-800 ml-auto mr-auto mb-5 text-muted">
                        {% if user.is_lecturer %}
                            {% include 'classrooms/quizzes/parts/details-lecturer.html' %}
                        {% elif user.is_student %}
                            {% include 'classrooms/quizzes/parts/details-student.html' %}
                        {% endif %}<!-- student -->
                    </div>
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .container-fluid -->
{% endblock %}
