{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid min-body-height">
        <div class="container mt-5 mb-5">
            <div class="row post-author pb-4"><!-- Edit and delete options for publisher -->
                <div class="col-8 text-left">
                    <a href="{% url 'class-details' meeting.classroom.pk %}" class="text-left">
                        <i class="fas fa-long-arrow-left pr-2"></i>Back to Classroom
                    </a>
                </div><!-- col-8 -->
                <div class="col-4 text-right">
                    {% if meeting.owner == user.profile %}
                        <a href="{% url 'meeting-update' class_name=meeting.classroom.name|slugify pk=meeting.pk %}">
                            <i class="fas fa-edit text-secondary"></i>
                        </a>
                        <a href="{% url 'meeting-delete' class_name=meeting.classroom.name|slugify pk=meeting.pk %}">
                            <i class="fas fa-trash-alt ml-3 text-danger"></i>
                        </a>
                    {% endif %}
                </div><!-- col-4 -->
            </div>

            <div class="post-title border-bottom pb-1">
                <h2 class="pb-1">{{ meeting.topic }}</h2>
                <span class="w-100 text-muted due-date"><small><b>Posted On</b>: {{ meeting.date_created }},</small></span>
                <span class="w-100 text-muted due-date ml-2"><small><b>Last Updated:</b> {{ meeting.date_mod}}</small></span>
            </div>

            <div class="post-body mt-5">
                <table class="table table-striped text-muted">
                    <tr>
                        <th>Topic</th>
                        <td class="font-weight-bold">{{ meeting.topic }}</td>
                    </tr>
                    <tr>
                        <th>Start at:</th>
                        <td>{{ meeting.start }}</td>
                    </tr>
                    <tr>
                        <th>Meeting Url:</th>
                        <td><a href="{{ meeting.meeting_url }}">{{ meeting.meeting_url }}</td>
                    </tr>
                    <tr>
                        <th>Meeting ID:</th>
                        <td>{{ meeting.meeting_id }}</td>
                    </tr>
                    <tr>
                        <th>Meeting Password:</th>
                        <td>{{ meeting.meeting_pwd }}</td>
                    </tr>
                    <tr>
                        <th>Recording Url:</th>
                        <td><a href="{{ meeting.recording_url }}">{{ meeting.recording_url }}</a></td>
                    </tr>
                </table>
            </div>
        </div><!-- .container -->
    </div><!-- .container-fluid -->
{% endblock %}