<div class="card post-card mb-3 pl-2 pr-3 pt-2 pb-2 border-r-10">
    <table class="">
        <tr>
            <td class="pr-3 text-muted" style="width: 50px;">
                <i class="fas fa-video p-3" style="color: #999999;"></i>
            </td>
            <td>
                <a href="{% url 'meeting-details' class_name=work.classroom.name|slugify pk=work.pk %}"
                   class="m-0 text-info roboto-title-muted">
                    <span style="color: #737373;">Meeting:</span> {{ work.topic }}
                </a><br/>
                <small class="m-0 pr-2">{{ work.date_created }}</small>
                <small>By: {{ work.owner.user.get_full_name }}</small>
            </td>
        </tr>
    </table>
</div>