{% comment %}
    ->  This template part is used to render file objects anywhere in the app

    args:
        -> file: Any file object
        -> ext: File Extension
        -> design: [box, rectangle]
        -> download: bool
{% endcomment %}

<div class="card shadow-sm border-r-10" style="width: 120px">
    <a href="{{ file.url }}" target="_blank" style="padding-top: 15px;">
        <i class="fas fa-file-alt" style="font-size: 30px;"></i>
    </a>
    <div style="padding-bottom: 10px; padding-top: 10px;">
        <a href="{{ file.url }}" {{ download }} class="text-primary">
            Download<i class="fas fa-download pl-2" style="font-size: 14px;"></i>
        </a>
    </div>
</div>
