{% comment %}
    ->  This template part is used to render file objects anywhere in the app

    args:
        -> file: Any file object
        -> ext: File Extension
        -> design: [box, rectangle]
        -> download: bool
{% endcomment %}

<div class="card shadow-sm border-r-10 text-center m-3" style="width: 110px">
    <a href="{{ file.url }}" target="_blank" style="padding-top: 15px;">
        <i class="fas fa-file-alt" style="font-size: 30px;"></i>
    </a>
    <div style="padding-bottom: 10px; padding-top: 10px;">
        <a href="{{ file.url }}" {{ download }} class="text-primary">
            Download
        </a>
    </div>
</div>
