{% load crispy_forms_tags %}

{% comment %}
    This template part is used in following pages
        -> submission-details.html
{% endcomment %}

<div class="card mb-2 submit-detail-item">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <div class="row">
                <div class="col-7">
                    <img src="{{ profile.profile_pic.url }}" class="btn-link rounded-circle"
                         style="max-width: 40px; max-height: 40px">
                    <a class="btn btn-link">{{ profile.user.get_full_name }}</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-link">
                        {% if submission %}
                            {% if submission.grade %}
                                <b class="text-success">Graded</b>
                            {% else %}
                                <b class="text-warning">Pending Review</b>
                            {% endif %}
                        {% else %}
                            Not Submitted
                        {% endif %}
                    </a>
                </div>
                <div class="col-2 text-right">
                    {% if submission %}
                        <a class="btn btn-link show-submission" data-toggle="collapse"
                           data-target="#collapse{{ submission.pk }}"
                           aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-chevron-circle-down"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </h5>
    </div>
    {% if submission %}
        <div id="collapse{{ submission.pk }}" class="collapse p-0" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="row w-100 m-0">
                <div class="col-sm-12 col-lg-4 p-0 mb-3 border-right">
                    <div class="type pl-3 text-center">
                        <h6 class="pb-2 pt-2 roboto-title">Files</h6>
                    </div>
                    <div class="p-3">
                        {% for sub in submission.submissionfile_set.all %}
                            {% include "template-parts/file.html" with file=sub.file design="box" download='download' %}
                        {% empty %}
                            <h6 class="mt-5">No Files Submitted</h6>
                        {% endfor %}
                    </div>
                </div><!-- .col-lg-4 -->
                <div class="col-sm-12 col-lg-4 p-0 mb-3 border-right">
                    <div class="type pl-3 text-center">
                        <h6 class="pb-2 pt-2 roboto-title">Submission Details</h6>
                    </div>
                    <div class="p-3">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Date:</th>
                                    <td>{{ submission.date_created }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reg No:</th>
                                    <td>{{ submission.owner.reg_no }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- .col-lg-4 -->
                <div class="col-sm-12 col-lg-4 p-0 mb-3 border-right">
                    <div class="type pl-3 text-center">
                        <h6 class="pb-2 pt-2 roboto-title">Evaluation</h6>
                    </div>
                    <div class="p-3">
                        <form method="POST">
                            {% csrf_token %}
                            {{ submission.form|crispy }}
                            <input type="hidden" name="u_profile_id" value="{{ submission.owner.pk }}">
                            <button type="submit" class="btn btn-info">Evaluate</button>
                        </form>
                    </div>
                </div><!-- .col-lg-4 -->
            </div><!-- .row -->
        </div><!-- .collapse -->
    {% endif %}
</div>
