{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid min-body-height">
        <div class="container mt-5 mb-5">
            <div class="row post-author pb-4"><!-- Edit and delete options for publisher -->
                <div class="col-8 text-left">
                    <a href="{% url 'class-details' post.classroom.pk %}" class="text-left">
                        <i class="fas fa-long-arrow-left pr-2"></i>Back to Classroom
                    </a>
                </div><!-- col-8 -->
                <div class="col-4 text-right">
                    {% if post.owner == user.profile %}
                        <a href="{% url 'post-update' class_pk=post.classroom.pk pk=post.pk %}">
                            <i class="fas fa-edit text-secondary"></i>
                        </a>
                        <a href="{% url 'post-delete' class_pk=post.classroom.pk pk=post.pk %}">
                            <i class="fas fa-trash-alt ml-3 text-danger"></i>
                        </a>
                    {% endif %}
                </div><!-- col-4 -->
            </div>

            <div class="post-title border-bottom pb-1">
                <h3 class="pb-1 roboto-title-muted">{{ post.title }}</h3>
                <span class="w-100 text-muted due-date">
                    <small><b>Uploaded</b>: {{ post.date_posted }},</small>
                </span>
                <span class="w-100 text-muted due-date ml-2">
                    <small><b>Last Modified:</b> {{ post.date_modified }}</small>
                </span>
            </div>
            <div class="post-body mt-5">
                <p>{{ post.content|safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}