{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="container mt-4 mb-5 min-body-height">
            <div class="card card-header mb-3 text-light bg-gradient-info class-detail-header bg-dark shadow mt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-10">
                                <h3 class="pl-3 pt-5">{{ class.name }}</h3>
                            </div>
                            <div class="col-2">
                                {% if class.owner == user.profile %}
                                    <a href="{% url 'class-update' class.pk %}" class="btn btn-light float-right shadow-sm">
                                        <i class="far fa-edit text-dark"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        {% if class.description %}
                            <p class="card-text pl-3 pt-3 pr-5 mw-600">{{ class.description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .class-detail-header -->

            <ul class="nav nav-tabs mb-4 shadow-sm classroom-sub-nav" id="myTab" role="tablist"><!-- Stream, Classwork and People -->
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#stream" role="tab"
                       aria-controls="stream" aria-selected="true">Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#classwork" role="tab"
                       aria-controls="classwork" aria-selected="false">Classwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#people" role="tab"
                       aria-controls="people" aria-selected="false">People</a>
                </li>
            </ul><!-- End of Stream, Classwork and People -->

            <div class="row text-muted">
                <div class="col-lg-8 col-md-12 mb-5 tab-content">
                    <div class="tab-pane fade show active" id="stream" role="tabpanel" aria-labelledby="pills-home-tab"><!-- stream -->

                        {% if user.role == 'lecturer' %}
                        <a href="{% url 'post-new' class.pk %}" class="card p-3 pl-4 shadow-sm">Announce something to your class</a>
                        {% endif %}

                        {% for post in posts %} <!--Class posts goes here-->
                            <div class="card card-body pl-4 pr-3 pt-0 pb-0 mb-3 rounded">
                                <div class="row">
                                    <div class="col-1 pad-20">
                                        <i class="fas fa-pen-alt w-100 h-100 size-20"></i>
                                    </div>
                                    <div class="col-11 pt-2 pb-2">
                                        <a href="{% url 'post-details' class_pk=class.pk pk=post.pk %}"
                                           class="m-0 text-info">{{ post.title }}
                                        </a><br/>
                                        <small class="m-0">{{ post.date_posted }}</small>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <h4 class="text-center d-block w-100 mt-5 mb-5 roboto-title-muted">No Posts Yet</h4>
                        {% endfor %} <!-- end of class posts -->

                    </div><!-- stream -->

                    <div class="tab-pane fade" id="classwork" role="tabpanel" aria-labelledby="pills-home-tab"><!-- classwork -->
                        <div class="mb-5">

                            <!--  Assignment and Quiz Create buttons -->
                            {% if user.role == 'lecturer' %}
                                <div class="row">
                                    <div class="col-12">
                                        <a class="btn btn-outline-secondary" href="#" role="button"
                                           data-toggle="dropdown" id="createNewDropdown">
                                            Add New<i class="fas fa-plus pl-3 font-weight-bold"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-bottom"
                                             aria-labelledby="createNewDropdown" aria-expanded="false">
                                            <a class="dropdown-item"
                                               href="{% url 'assignment-new' class_pk=class.pk %}">Assignment
                                            </a>
                                            <a class="dropdown-item" href="{% url 'meeting-create' pk=class.pk %}">Meeting</a>
                                        </div>

                                        <!--<div class="dropdown btn p-0 mr-3">
                                            <a class="btn btn-outline-secondary" href="#" role="button"
                                               id="assignmetnDropdown" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                New Assignment<i class="fas fa-plus pl-3 font-weight-bold"></i>
                                            </a>
                                            <div class="dropdown-menu shadow" aria-labelledby="assignmetnDropdown">
                                                <a class="dropdown-item"
                                                   href="{% url 'assignment-new' class_pk=class.pk %}">Regular
                                                </a>
                                                <a class="dropdown-item" href="#">Question</a>
                                            </div>
                                        </div>
                                        <a class="btn btn-outline-secondary" href="{% url 'quiz-create' pk=class.pk %}">
                                            New Quiz<i class="fas fa-plus pl-3 font-weight-bold"></i>
                                        </a>-->
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        {% for assignment in assignments %}
                            <div class="card card-body pl-4 pr-3 pt-0 pb-0 mb-3 rounded">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 pad-20">
                                        <i class="fas fa-pen-alt w-100 h-100 size-20"></i>
                                    </div>
                                    <div class="col-md-8 col-sm-8 pt-2 pb-2">
                                        <a href="{% url 'assignment-details' class_name=assignment.classroom.name|slugify pk=assignment.pk %}"
                                           class="m-0 text-info">{{ assignment.title }}
                                        </a><br/>
                                        <small class="m-0">{{ assignment.date_posted }}</small>
                                    </div>
                                    <div class="col-md-3 col-sm-3 pad-20 text-right">
                                        <span class="m-0">{{ assignment.status }}</span>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <h4 class="text-center d-block w-100 mt-5 mb-5 roboto-title-muted">No Assignments</h4>
                        {% endfor %}
                    </div><!-- classwork -->

                    <div class="tab-pane fade" id="people" role="tabpanel" aria-labelledby="pills-home-tab"><!-- people -->
                        <div class="lecturers mb-2 mt-3">
                            <h4 class="roboto-title mb-3 pt-2 pb-2 pr-4">Lecturers</h4>
                            <div class="card-columns row">
                                {% for lecturer in lecturers %}
                                    {% include 'users/template-parts/user.html' with profile=lecturer %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="students mb-5">
                            <h4 class="roboto-title mb-3 pt-2 pb-2 pr-4">Students</h4>
                            <div class="card-columns row">
                                {% for student in students %}
                                    {% include 'users/template-parts/user.html' with profile=student %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- people -->
                </div>

                <!-- classroom right sidebar (recent activities) -->
                <div class="col-lg-4 col-md-12 pl-4">
                    <div id="accordion">
                        <div class="card mb-4">
                            {% if user.profile.role == 'Student' %}
                                <div class="card-header p-1">
                                    <h6 class="mb-0"><span class="btn btn-link font-weight-bold">Upcoming</span></h6>
                                </div>
                                <ul class="list-group upcoming-events">
                                    {% for assignment in events %}
                                        <li class="list-group-item event bl-0 border-left-0 border-right-0">
                                            <a href="{% url 'assignment-details' class_pk=class.pk pk=assignment.pk %}">
                                                {{ assignment }}
                                            </a><br/>
                                            <small class="font-weight-bold">Due {{ assignment.date_due }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="card-header p-1">
                                    <h6 class="mb-0"><span class="btn btn-link font-weight-bold">Recent Student Activities</span></h6>
                                </div>
                                <ul class="list-group upcoming-events">
                                    {% for assignment in events %}
                                        <li class="list-group-item event bl-0 border-left-0 border-right-0">
                                            <a href="{% url 'assignment-details' class_pk=class.pk pk=assignment.pk %}">
                                                {{ assignment }}
                                            </a><br/>
                                            <small class="font-weight-bold">Due {{ assignment.date_due }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div><!-- card 1-->
                    </div><!-- accordian -->
                </div><!-- col -->

            </div><!-- row -->
        </div><!-- container -->
    </div><!-- container-fluid -->
{% endblock %}