{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid p-5">
            <div class="col-12 text-right pb-4"> <!-- Model Trigger item-->
                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">New Classroom</button>
            </div>

            <!-- Model -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">New Classroom</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" class="mb-4 mt-3">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div><!-- model-body-->
                    </div><!-- model-content-->
                </div>
            </div><!-- model -->
        <div class="row">
            {% for classroom in class_rooms  %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="container">
                        <section class="mx-auto my-5" style="max-width: 23rem;">
                            <div class="card testimonial-card mt-2 mb-3">
                                <div class="card-up aqua-gradient text-right">
                                    <i class="fa-solid fa-ellipsis-vertical fa-lg text-light p-3 pt-4 pb-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu dropdown-menu-right"><!-- dropdown menu for edit and delete-->
                                        <a href="{% url 'class-update' classroom.pk %}" class="dropdown-item">Edit</a>
                                        <a class="dropdown-item">Delete</a>
                                    </div>
                                </div>
                                <div class="avatar mx-auto white">
                                    <img src="{{ classroom.owner.profile.id_photo.url }}" class="rounded-circle img-fluid" alt="woman avatar">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title font-weight-bold">
                                        <a href="{% url 'class-info' classroom.pk %}" class="class-name">{{ classroom.name }}</a>
                                    </h5><hr>
                                    <p>{{ classroom.description }}</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
