{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-12 text-right pb-4 mt-4"> <!-- Model Trigger item-->
        {% if user.role == 'lecturer' %}
            <a href="{% url 'class-create' %}" class="btn btn-outline-primary shadow-sm">New Classroom</a>
        {% endif %}
    </div>

    <div class="container mt-3 mb-5 p-4 min-body-height">
        <div class="card-columns row">
            {% for classroom in class_rooms  %}
                <div class="card testimonial-card list-card mt-2 m-3">
                    <div class="card-up bg-gradient-info text-right">
                        {% if classroom.owner == user.profile %}
                            <i class="fa-solid fa-ellipsis-vertical fa-lg text-light p-3 pt-4 pb-4"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu dropdown-menu-right"><!-- dropdown menu for edit and delete-->
                                <a href="{% url 'class-update' classroom.pk %}" class="dropdown-item">
                                    <i class="fas fa-edit pr-4 text-primary"></i>Edit</a>
                                <a href="{% url 'class-delete' classroom.pk %}" class="dropdown-item">
                                    <i class="fas fa-trash-alt pr-4 text-danger"></i>Delete</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="avatar mx-auto white">
                        <img src="{{ classroom.owner.profile_pic.url }}"
                             class="rounded-circle img-fluid" alt="woman avatar">
                    </div>
                    <div class="card-body text-center pt-1 text-muted">
                        <h6 class="font-weight-bold mb-0" style="font-size: 1.1rem;">
                            <a href="{% url 'class-details' classroom.pk %}"
                               class="class-name">{{ classroom.name }}</a>
                        </h6>

                        {% if user.role == 'lecturer' %}
                            <small class="pb-3 pt-1 m-0 d-block">
                                Owner:
                                {% if classroom.owner == user.profile %}
                                    Me
                                {% else %}
                                    {{ classroom.owner.user.get_full_name }}
                                {% endif %}
                            </small>
                            <a class="btn btn-info text-light font-weight-bold shadow-sm">
                                {{ classroom.department.batch.year|add:" Batch" }}</a>
                            <hr><p class="m-0">{{ classroom.department.name }}</p>

                        {% elif user.role == 'student' %}
                            <p class="pb-3 pt-1 m-0">
                                By: {{ classroom.owner.user.get_full_name }}
                            </p>
                            {% if classroom.description %}<hr>{{ classroom.description }}{% endif %}
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <h3 class="roboto-title-muted ml-auto mr-auto" style="margin-top: 150px;">
                    No Classrooms Yet
                </h3>
            {% endfor %}
        </div><!-- .card-columns -->
    </div><!-- .container -->
{% endblock %}
