{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid text-muted min-body-height">
        <div class="container pt-5 pb-5">
            <div class="headline border-bottom">
                <h4><b class="pr-2">Submissions:
                    <a href="{% url 'assignment-details' class_name=assignment.classroom.name|slugify pk=assignment.pk %}">
                    {{ assignment.title }}</a></b>
                </h4>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <small><b>Due Date: </b>{{ assignment.date_due }}</small>
                    </div>
                </div>
                <div class="row mt-4 mb-3">
                    <div class="col-12">
                        {% if not assignment.review_complete %}
                            <a href="{% url 'complete-review' assignment_pk=assignment.pk %}" class="btn btn-success">Complete Review</a>
                        {% else %}
                            <a href="#" class="btn btn-warning"
                               data-toggle="modal" data-target="#undoCompleteReview">Undo Review Completion
                            </a>
                            <!-- Popup that opens when enrolling -->
                            <div class="modal fade" id="undoCompleteReview" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-left">
                                            <b>This will accept new submissions and also re-submissions,</b>
                                            which may contain assignments that you already reviewed and graded.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a href="{% url 'undo-review-complete' assignment_pk=assignment.pk %}" class="btn btn-info">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .model popup -->
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="submission-details mt-5">
                <div id="accordion">
                    {% for submission in submissions %}
                        {% include 'template-parts/submission-detail-item.html' with submission=submission profile=submission.owner %}
                    {% endfor %}
                    <!-- Non-Submitted students-->
                    {% for profile in non_submitted %}
                        {% include 'template-parts/submission-detail-item.html' with submission=submission profile=profile %}
                    {% endfor %}
                </div><!-- .accordian -->
            </div><!-- .submission-details -->
        </div><!-- .container -->
    </div><!-- .container-fluid-->
{% endblock %}
