{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container login-form-container">
    <div class="ml-auto mr-auto mw-500 background-light p-5 border-r-5 shadow-sm">
        <fieldset class="border-bottom text-muted mb-2">
            <legend class="border-bottom mb-3 roboto-title-muted">Sign In</legend>
            <form method="POST" class="mb-4 mt-3">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                    <small class="ml-3 pt-3"><a href="{% url 'password-reset' %}">Forgot Password?</a></small>
                </div>
            </form>
        </fieldset>
        <small>Don't have an account? <a href="{% url 'register' %}" class="ml-1">Sign Up</a></small>
    </div>
</div>
{% endblock %}