{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="ml-auto mr-auto mw-500 background-light p-5 border-r-5 shadow-sm">
        <fieldset class="border-bottom text-muted mb-2">
            <h5 class="border-bottom mb-4 roboto-title-muted">Enter New Password</h5>
            <form method="POST" class="mb-4 mt-3">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info mt-3">Reset Password</button>
            </form>
        </fieldset>
        <small><a href="{% url 'home' %}" class="ml-1">Back to Home</a></small>
        <small class="ml-3"><a href="{% url 'login' %}" class="ml-1">Sign In</a></small>
    </div>
</div>
{% endblock %}