{% extends "main/base.html" %}

{% block content %}
<div class="container reg-form-container">
    <div class="mw-600 ml-auto mr-auto pt-1 background-light border-r-5 pl-5 pr-5 pb-5 pt-4 shadow-sm">
        <legend class="mb-5 mt-2 roboto-title-muted">Register Today</legend>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" id="stu-form">
                <button class="nav-link ls-1 active" id="stu-tab" data-toggle="tab" data-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Student</button>
            </li>
            <li class="nav-item" role="presentation" id="lec-form">
                <button class="nav-link ls-1" id="lec-tab" data-toggle="tab" data-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Lecturer</button>
            </li>
        </ul>
        <div class="tab-content pt-4 pb-2 mb-2 border-bottom" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="stu-tab">
                {% include "users/template-parts/student-reg-form.html" %}
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="lec-tab">
                {% include "users/template-parts/lecturer-reg-form.html" %}
            </div>
        </div><!-- .tab-content -->
        <small class="text-muted">Already Have an Account ? <a href="{% url 'login' %}">Sign In</a></small>
    </div>
</div><!-- .container -->
{% endblock %}


