{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="mw-600 ml-auto mr-auto pt-1 background-light border-r-5 p-5">
            <fieldset class="border-bottom text-muted mb-2">
                <h3 class="border-bottom mb-4">Create an Account</h3>
                <form method="POST" enctype="multipart/form-data" class="mb-4 mt-3" id="userRegisterForm" onsubmit="validateRegisterForm();">
                    {% csrf_token %}
                    {{ u_form|crispy }}
                    <button type="submit" class="btn btn-primary mt-4" id="userRegister">Sign Up</button>
                </form>
            </fieldset>
            <small class="text-muted">Already Have an Account ? <a href="{% url 'login' %}">Sign In</a></small>
        </div>
    </div>
{% endblock %}
