{% load static %}

<div class="site-content">
    <div class="welcome-page-image shadow" id="welcomeImg">
        <img src="{% static 'main/images/welcome.png' %}" alt="Snow" style="width:100%;">
        <div class="img-textbox">
            <div class="text mb-5">
                <div class="welcome-msg">Welcome to UCR Learning Portal</div>
                <div class="personalized">Personalized Distance Learning Experience</div>
                <div class="ucr">University College Rathmalana</div>
            </div>
            <a href="{% url 'register' %}" class="start-today shadow-lg">Start Today</a>
        </div>
    </div>

    <div class="row min-body-height">
        <div class="col-12 p-5">
            <div class="container" data-aos="fade-up">
                <!--<div class="text-center">
                    <h2 class="">Our Services</h2>
                </div>
                <div class="row min-body-height">
                    &lt;!&ndash;<div class="col-xl-4 col-md-12 p-5">
                        <div class="card m-auto shadow" style="width: 20rem;">
                            <img class="card-img-top" src="{% static 'main/images/welcome.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 p-5">
                        <div class="card m-auto shadow" style="width: 20rem;">
                            <img class="card-img-top" src="{% static 'main/images/welcome.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 p-5">
                        <div class="card m-auto shadow" style="width: 20rem;">
                            <img class="card-img-top" src="{% static 'main/images/welcome.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>&ndash;&gt;
            </div>-->
        </div>
    </div>
</div>