{% load static %}

<div class="site-content">
    <div class="welcome-page-image shadow" id="welcomeImg">
        <img src="{% static 'main/images/welcome.png' %}" alt="Snow" style="width:100%;">
        <div class="img-textbox">
            <div class="text mb-5">
                <div class="welcome-msg">Welcome to UCR Learning Portal</div>
                <div class="personalized">Personalized Distance Learning Experience</div>
                <div class="ucr">University College Rathmalana</div>
            </div>
        </div>
    </div>

    <div class="row visitor-middle">
        <div class="col-12 p-5">
            <div class="container" data-aos="fade-up">
                <div class="text-center pt-5 pb-3 mb-4">
                    <p class="msg">
                        For a hassle-free online education experience, with University College Rathmalana.
                    </p>
                </div>

                <div class="signup-btn text-center mb-5 pb-5">
                    <p class="pb-4 ls-half">All in one place with one time registration. </p>
                    <a href="{% url 'register' %}" class="shadow-lg">
                        Sign Up to Get Started
                    </a>
                </div>

                <div class="row border-r-20 pb-5">
                    <div class="col-xl-6 col-md-12 p-5 text-center">
                        <h4>Students</h4>
                        <h5>{{ students }}</h5>
                    </div>
                    <div class="col-xl-6 col-sm-12 p-5 text-center">
                        <h4>Lecturers</h4>
                        <h5>{{ lecturers }}</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>