<!--
THIS TEMPLATE GETS INHERITED BY ALL OTHER TEMPLATES/PAGES IN THE APPLICATION.
 -->
<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>University College Rathmalana</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'main/css/w3.css' %}">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Font Awesome  -->
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Custom dashboard template css -->
        <link href="{% static 'main/css/sb-admin-2.css' %}?{% now 'U' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/main/css/main.css' %}?{% now 'U' %}">
    </head>
    <body>
        {% include 'main/navbar.html' %}
        {% include 'main/messages.html' %}

        <!-- In all the other templates, this content block should be overridden -->
        <div class="wrapper" id="wrapper">
            {% if user.is_authenticated %}
                {% include 'main/sidebar.html' %}
            {% endif %}

            <!-- Main content block of any page. Should be overridden in any template -->
            <div id="content-wrapper" class="d-flex flex-column mt-4">
                {% block content %}
                {% endblock %}
                {% include 'main/footer.html' %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"
                integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <!-- Font-Awesome Js -->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

        <!-- Dashboard page custom Js -->
        <script src="{% static 'main/js/chart.js' %}"></script>

        <!-- Custom Js -->
        <script src="{% static 'main/js/main.js' %}"></script>
        {% include 'main/charts.html' %}
    </body>
</html>
