<!--  PENDING WORK CHART  -->
<script>
const ctx = document.getElementById('myAreaChart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Assignments', 'Quizzes', 'Meetings'],
        datasets: [{
            label: '# of Work',
            data: [{{ assignments }}, {{ quizzes }}, {{ meetings }}],
            backgroundColor: [
              'rgba(28, 200, 138, 1)',
              'rgba(54, 185, 204, 1)',
              'rgba(246, 194, 62, 1)',
            ],
            borderColor: [
              'rgba(28, 200, 138, 1)',
              'rgba(54, 185, 204, 1)',
              'rgba(246, 194, 62, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                gridLines: {
                    display: false,
                }
            },
        },
        plugins: {
            legend: {
                display: false,
            }
        }
    }
});
</script>
