{% load static %}

<footer class="container-fluid text-center text-light pt-5 pb-3 bg-gradient-dark shadow-lg">
    <div class="container roboto-title" style="color: #e6e6e6; letter-spacing: 1px;">
        <a class="d-block">A project by,</a></br>
        <p class="d-inline">Sahan Lakshitha, </p>
        <p class="d-inline">Insaf Marzook &</p>
        <p class="d-inline">Puwanaharan</p></br></br>

        <div class="container text-center pt-3 pl-0 pr-0" style="color: #e6e6e6;">
            <h5 class="roboto-title sm-heading">
                Department of Telecommunication - (2019)
            </h5>
            <h6 class="roboto-title">University College Rathmalana</h6>
        </div>
    </div>
    <div class="row mt-5 mb-2 pt-5">
        <div class="col-12 text-left" style="color: #cccccc;">
            <small class="mb-0 pb-1 d-block">For further assistance and inquiries,</small>
            <small class="roboto-title">Contact: kksahan78@gmail.com</small>
        </div>
    </div>
</footer>
