{% load static %}

<div class="nav-container position-fixed w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  pt-3 pb-3 shadow" id="navbar">
        {% if user.is_authenticated %}
            <button id="sidebarToggleBtn" class="sidebar-toggler btn btn-link rounded-circle text-secondary mr-3">
                <i class="fa fa-bars"></i>
            </button>
        {% endif %}

        <a class="navbar-brand mr-5 p-3" href="{% url 'home' %}">
            <img src="{% static 'main/ucr-logo.png' %}" class="logo">
        </a>

        {% if user.is_authenticated %}
        <div class="dropdown ml-auto">
            <a href="" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ user.profile.profile_pic.url }}" class="rounded-circle shadow-sm"
                     style="width: 45px; height: 45px">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <p class="nav-username text-center text-muted">@{{ user.username }}</p>
                <a href="#" class="nav-link text-secondary" name="Notifications">
                    <i class="fas fa-bell"></i>Notifications
                </a>
                <a class="nav-link text-secondary" href="{% url 'profile' %}">
                    <i class="fas fa-user"></i>Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-secondary" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>Sign Out
                </a>
            </div>
        </div>

        {% else %}<!-- for a visitor -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="visitor-menu collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-3"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    <li class="nav-item pl-3"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                </ul>
            </div>
        {% endif %}

    </nav><!-- .navbar -->
</div>