
    <!-- Sidebar -->
<div class="sidebar sidebar-dark bg-secondary navbar-nav accordion shadow pb-4" id="accordionSidebar">
    <ul class="pb-3 pl-0">
        <!-- Divider -->
        <hr class="sidebar-divider my-0 pb-3">
        <li class="nav-item active"><!-- Nav Item - Dashboard -->
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider pb-3">
        <div class="sidebar-heading">Actions</div>

        <!-- Nav Item - Departments Collapse Menu -->
        {% if user.role == 'lecturer' %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDepartments"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-university pr-2"></i>
                    <span>Departments</span>
                </a>
                <div id="collapseDepartments" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'departments' %}">All</a>
                    </div>
                </div>
            </li>
        {% endif %}

        <!-- Nav Item - Classes Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-university pr-2"></i>
                <span>Classrooms</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'classrooms' %}">All</a>
                    {% if user.role == 'lecturer' %}
                        <a class="collapse-item" href="{% url 'class-create' %}">Create New</a>
                    {% endif %}
                </div>
            </div>
        </li>

        <!-- Nav Item - Meetings Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#meetings"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-video pr-2"></i>
                <span>Meetings</span>
            </a>
            <div id="meetings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'meetings-list' type='today' %}">Today</a>
                    <a class="collapse-item" href="{% url 'meetings-list' type='upcoming' %}">Upcoming</a>
                    <a class="collapse-item" href="{% url 'meetings-list' type='previous' %}">Previous</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Assignments Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAssignments"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-pencil-alt pr-2"></i>
                <span>Assignments</span>
            </a>
            <div id="collapseAssignments" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    {% if user.role == 'student' %}
                        <a class="collapse-item" href="{% url 'assignments-list' type='pending' %}">Pending</a>
                        <a class="collapse-item" href="{% url 'assignments-list' type='missing' %}">Missing</a>
                        <a class="collapse-item" href="{% url 'assignments-list' type='completed' %}">Completed</a>
                    {% elif user.role == 'lecturer' %}
                        <a class="collapse-item" href="{% url 'assignments-list' type='ongoing' %}">Ongoing</a>
                        <a class="collapse-item" href="{% url 'assignments-list' type='pending-review' %}">Pending Review</a>
                        <a class="collapse-item" href="{% url 'assignments-list' type='reviewed' %}">Reviewed</a>
                    {% endif %}
                </div>
            </div>
        </li>

        <!-- Nav Item - Quizzes Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQuizzes"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-feather pr-2"></i>
                <span>Quizzes</span>
            </a>
            <div id="collapseQuizzes" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'quiz-list' type='today' %}">Today</a>
                    <a class="collapse-item" href="{% url 'quiz-list' type='upcoming' %}">Upcoming</a>

                    {% if user.is_lecturer %}
                        <a class="collapse-item" href="{% url 'quiz-list' type='pending-reviewl' %}">Pending Review</a>
                        <a class="collapse-item" href="{% url 'quiz-list' type='reviewed' %}">Reviewed</a>
                    {% elif user.is_student %}
                        <a class="collapse-item" href="{% url 'quiz-list' type='missing' %}">Missing</a>
                        <a class="collapse-item" href="{% url 'quiz-list' type='completed' %}">Completed</a>
                    {% endif %}
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Info
        </div>

        <!-- Nav Item - Students -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'people' %}">
                <i class="fas fa-users pr-2"></i>
                <span>People</span></a>
        </li>
        <!-- Nav Item - Statistics -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'statistics' %}">
                <i class="fas fa-chart-line pr-2"></i>
                <span>Statistics</span></a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->