{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-8 col-lg-12 pl-4 pr-4 pb-5 min-body-height"><!-- first-column -->
                <div class="row"><!-- button-row -->
                    <div class="col-6">
                        <a href="{% url 'class-details' pk=assignment.classroom.pk %}">
                            <i class="fas fa-arrow-left pr-2"></i>Back to Class
                        </a>
                    </div>

                    {% if user.is_lecturer %}
                        <div class="col-6 text-right">
                            <div class="actions">
                                <a href="{% url 'assignment-update' class_name=assignment.classroom.name|slugify pk=assignment.pk %}">
                                    <i class="fas fa-edit text-primary pr-4"></i>
                                </a>
                                <a href="{% url 'assignment-delete' class_name=assignment.classroom.name|slugify pk=assignment.pk %}">
                                    <i class="fas fa-trash-alt  text-danger"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="row pt-4"><!-- title row -->
                    <div class="col-12 pb-2 border-bottom">
                        <h3 class="text-muted">{{ assignment.title }}</h3>
                        <small class="d-block">Due date: {{ assignment.date_due }}</small>
                    </div>
                </div>
                <div class="row pt-4"><!-- body row -->
                    <div class="col-12">
                        {{ assignment.content|safe }}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 text-center mt-5 pl-2">
                {% if user.is_student %}
                    {% include 'template-parts/assign-details-sidebar-stu-card.html' %}
                {% elif user.is_lecturer %}
                    {% include 'template-parts/assign-details-sidebar-lec-card.html' %}
                {% endif %}

            </div><!-- second-column -->
        </div>
    </div>
{% endblock %}