/*
* Overriding W3.CSS
*/

p {
    word-break: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5 !important;
}

.roboto-title {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
}

.roboto-title-muted {
    font-family: 'Roboto Slab', serif;
    color: #999999 !important;
    letter-spacing: 0.5px;
}

button[data-toggle='tab']:focus {
    outline: none !important;
}


/*
* CK Editor overrides
*/
#cke_id_content {
    width: 100% !important;
}


/* Overriding Bootstrap */
.nav-item .nav-link {
    border: 0px !important;
}

a[data-toggle='tab'] {
    color: #858796 !important;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

.body-color {
    background-color: #f5f7fa !important;
}

.wrapper {
    overflow: hidden !important;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.top-nav {
    z-index: 300 !important;
    /*position: fixed !important;*/
}


/*
* Visitor Welcome Page
*/
.welcome-page-image {
  position: relative;
  text-align: left;
  color: #fff;
}

.welcome-page-image img {
    min-width: 100%;
    min-height: 450px;
    width: auto !important;
}

.welcome-page-image .img-textbox {
    position: absolute;
    top: 25%;
    left: 20px;
    margin-right: 10px;
}

.welcome-page-image .img-textbox .text {
    padding: 20px;
    padding-left: 10px;
    backdrop-filter: blur(15px);
    border-radius: 5px;
}

.welcome-page-image .img-textbox .welcome-msg {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 700;
    backdrop-filter: blur(15px);
}

.welcome-page-image .img-textbox .personalized {
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.welcome-page-image .img-textbox .ucr {
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.welcome-page-image .img-textbox .start-today {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #e6e6e6;
    color: #404040;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
    transition: 0.3s;
    text-transform: uppercase;
}

.welcome-page-image .img-textbox .start-today:hover {
    background-color: #d9d9d9;
    text-decoration: underline;
}


/*
Bootstrap Nav Tabs
*/
.nav-tabs .nav-link.active {
    background-color: #2a96a5 !important;
    color: #fff !important;
}

/*
* Profile page
*/
.role-badge {
    letter-spacing: 2px;
}


/*
* Navbar
*/
.visitor-menu li {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.visitor-menu li a {
    color: #666666 !important;
}



.nav-container {
    height: 60px;
    z-index: 150;
}

.navbar {
    padding: 0px !important;
    margin: 0px !important;
    padding-left: 10px !important;
    padding-right: 20px !important;
}

.navbar-toggler {
    border: 0px !important;
    outline: none !important;
}

.link-login,
.link-register {
    font-size: 17px;
}

.nav-username {
    font-weight: 600;
    font-size: 13px;
    padding-top: 8px;
    letter-spacing: 1px;
}

.for-dropdown {
    display: none !important;
}

.navbar-collapse.show .for-dropdown {
    display: block !important;
}

.display-dropdown {
    display: block !important;
    border: 0px !important;
    background-color: inherit !important;
}

/*
* Scrollbar
*/

html::-webkit-scrollbar {
    width: 15px;
}

.sidebar::-webkit-scrollbar {
    width: 10px !important;
}

html::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

html::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #5a5c69 !important;
}

html::-webkit-scrollbar-thumb:focus,
.sidebar::-webkit-scrollbar-thumb:focus {
    background-color: #fff !important;
}


/*
* Visitor Home-Page
*/
/*
.welcome-carousal {
    width: 100%;
}
*/


/*
* Sidebar
*/

.sidebar {
    width: 0rem !important;
    position: fixed !important;
    height: 100%;
    overflow-y: scroll !important;
    z-index: 400;
    display: block;
    transition: 0.2s;
}

.sidebar-toggler {
    font-size: 20px;
}

.sidebar.show {
    width: 14rem !important;
}

.sidebar .nav-item .collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
}
.sidebar .nav-item .collapse .collapse-inner {
     border-radius: 0;
     box-shadow: none;
}
.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
  padding: .5rem 0;
  min-width: 10rem;
  font-size: 0.85rem;
  margin: 0 0 1rem 0;
}

.sidebar .nav-item .collapsing {
    display: block;
    transition: height 0.15s ease;
}
.sidebar .nav-item .collapse,
.sidebar .nav-item .collapsing {
    margin: 0 1rem;
}
.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}
.sidebar .nav-item .nav-link i {
    font-size: 0.85rem;
    margin-right: 0.25rem;
}
.sidebar .nav-item .nav-link span {
    font-size: 0.85rem;
    display: inline;
}
.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
}
.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
    content: '\f105';
}
.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}
.sidebar .sidebar-brand .sidebar-brand-text {
    display: inline;
}
.sidebar .sidebar-heading {
    text-align: left;
}
.sidebar.toggled {
    overflow: visible;
    width: 6.5rem !important;
}
.sidebar.toggled .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}
.sidebar.toggled .nav-item .collapse .collapse-inner {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    border-radius: 0.35rem;
}
.sidebar.toggled .nav-item .collapsing {
    display: none;
    transition: none;
}
.sidebar.toggled .nav-item .collapse,
.sidebar.toggled .nav-item .collapsing {
    margin: 0;
}
.sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
}
.sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
}
.sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}
.sidebar.toggled .nav-item .nav-link i {
    margin-right: 0;
}
.sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
    display: none;
}
.sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}
.sidebar.toggled .sidebar-brand .sidebar-brand-text {
    display: none;
}
.sidebar.toggled .sidebar-heading {
    text-align: center;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  background-color: #eaecf4;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
  background-color: #dddfeb;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #4e73df;
  font-weight: 700;
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}

.sidebar .sidebar-brand .sidebar-brand-text {
    display: none;
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar .sidebar-heading {
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
}

.sidebar-light .sidebar-brand {
    color: #6e707e;
}

.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4;
}

.sidebar-light .sidebar-heading {
    color: #b7b9cc;
}

.sidebar-light .nav-item .nav-link {
    color: #858796;
}

.sidebar-light .nav-item .nav-link i {
    color: #d1d3e2;
}

.sidebar-light .nav-item .nav-link:active, .sidebar-light .nav-item .nav-link:focus, .sidebar-light .nav-item .nav-link:hover {
    color: #6e707e;
}

.sidebar-light .nav-item .nav-link:active i, .sidebar-light .nav-item .nav-link:focus i, .sidebar-light .nav-item .nav-link:hover i {
    color: #6e707e;
}

.sidebar-light .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #b7b9cc;
}

.sidebar-light .nav-item.active .nav-link {
    color: #6e707e;
}

.sidebar-light .nav-item.active .nav-link i {
    color: #6e707e;
}

.sidebar-light #sidebarToggle {
    background-color: #eaecf4;
}

.sidebar-light #sidebarToggle::after {
    color: #b7b9cc;
}

.sidebar-light #sidebarToggle:hover {
    background-color: #dddfeb;
}

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.sidebar-dark .nav-item .nav-link i {
    color: rgba(255, 255, 255, 0.3);
}

.sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #fff;
}

.sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-dark #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark #sidebarToggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}

/* From now onward position is important */
.sidebar.collapsed {
    min-width: 0px !important;
    width: 0px !important;
}

========  END OF SIDEBAR  ============




/*
Header
*/

.welcome-msg {
    font-size: 50px;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    font-weight: 600;
}

.welcome-sub {
    font-size: 20px;
    margin-top: 40px;
}

p.join-today {
    margin-top: 20px;
}


/*
Alert
*/

.alert-error {
    background-color: #ff6666 !important;
    color: #fff !important;
}

.alert ul {
    list-style: none !important;
    padding: 0px !important;
}

.messages {
    list-style: none !important;
    position: fixed !important;
    z-index: 400;
}

.messages li {
    letter-spacing: 1px;
}


/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/main/free-learning.jpg");
  min-height: 100%;
}

.bgimg-1 img {
    opacity: 0.6;
}

.w3-bar .w3-button {
  padding: 16px;
}

.a-buttons {
    color: #ffffff;
}

.profile-info .name {
    font-size: 22px !important;
    font-weight: 500;
}

.profile-header {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


/*
Classrooms
*/

body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.card-header {
    background-color: inherit !important;
    border-top-left-radius: 17px !important;
    border-top-right-radius: 17px !important;
}

.card .class-name {
    color: #13547a;
}

.testimonial-card .card-up {
  height: 100px;
  overflow: hidden;
  border-top-left-radius: .45rem;
  border-top-right-radius: .45rem;
}

.aqua-gradient {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.class-detail-header {
    min-height: 200px;
}

.class-announce {
    border-radius: 12px;
    padding: 5px;
}

.classroom-sub-nav {
    font-weight: 600;
    border-bottom: 1px solid #0c5e8d;;

}
.classroom-sub-nav .nav-link {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.classroom-sub-nav .nav-link.active {
    background-color: #0c5e8d;
    color: #ffffff;
}

.new-class-post i {
    padding: 7px;
}

.upcoming-events .event {
    font-size: 15px !important;
    line-height: 1.5;
}

.upcoming-events .event li {
    font-size: 15px;
}

/*
* Classwork Tab
*/


/*
Assignment Details page
*/
.profile-info-content {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}


/*
Assignment Details page
*/

.selected-files .no-files-chosen {
    text-align: center;
}

/*.selected-files .file {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}*/

/*
.selected-files .file .remove-file {
    border-left: 1px solid #000;
    cursor: pointer;
}
*/

.assignment-file-input ul.errorlist {
    display: none;
}

/*
* Submission Details Page
*/
.submit-detail-item .type {
    background-color: #f2f2f2;
}


/*
* Quiz
*/
.questions a {
    cursor: pointer !important;
}


/*
* File
*/

.box {
    width: 250px;
    border-radius: 10px !important;
    padding: 15px !important;
    color: brown;
}

/*
* FOOTER
*/


/*
* CARDS
*/
.card.list-card {
    min-width: 300px !important;
    max-width: 300px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: fit-content !important;
}

.card-title {
    font-size: 1.25rem !important;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: 600;
}


/*
* Common
*/

.background-light {
    background-color: #fff !important;
}

.border-r-5 {
    border-radius: 5px !important;
}

.border-r-10 {
    border-radius: 10px !important;
}

.border-r-15 {
    border-radius: 15px !important;
}

.border-r-20 {
    border-radius: 20px !important;
}


.min-body-height {
    min-height: 600px !important;
}

.primary-color {
    background-color: #0c5e8d;
}

.primary-back-gradient {
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    color: #fff;
}

.size-10 {
    font-size: 10px !important;
}

.size-20 {
    font-size: 20px !important;
}

.size-30 {
    font-size: 30px !important;
}

.pad-10 {
    padding: 10px !important;
}

.pad-20 {
    padding: 20px !important;
}

.pad-30 {
    padding: 30px !important;
}

.icon-lg {
    width: 25px !important;
    height: 25px !important;
}

.icon-sm {
    width: 15px !important;
    height: 15px !important;
}




.mw-20 {
    max-width: 20px !important;
}
.mw-30 {
    max-width: 30px !important;
}

.mw-100 {
    max-width: 100px !important;
}

.mw-150 {
    max-width: 150px !important;
}

.mw-200 {
    max-width: 200px !important;
}

.mw-250 {
    max-width: 250px !important;
}

.mw-300 {
    max-width: 300px !important;
}

.mw-400 {
    max-width: 400px !important;
}

.mw-500 {
    max-width: 500px !important;
}

.mw-600 {
    max-width: 600px !important;
}

.mw-700 {
    max-width: 700px !important;
}

.mw-800 {
    max-width: 800px !important;
}

.mw-900 {
    max-width: 900px !important;
}

.mw-1000 {
    max-width: 1000px !important;
}


.minw-20 {
    min-width: 20px !important;
}
.minw-30 {
    min-width: 30px !important;
}

.minw-100 {
    min-width: 100px !important;
}

.minw-200 {
    min-width: 200px !important;
}

.minw-300 {
    min-width: 300px !important;
}

.minw-400 {
    min-width: 400px !important;
}

.minw-500 {
    min-width: 500px !important;
}

.minw-600 {
    min-width: 600px !important;
}

.minw-700 {
    min-width: 700px !important;
}

.minw-800 {
    min-width: 800px !important;
}


/*
* Common Heights
*/

.h-5 {
    height: 5px !important;
}
.h-10 {
    height: 10px !important;
}
.h-20 {
    height: 20px !important;
}
.h-30 {
    height: 30px !important;
}
.h-40 {
    height: 40px !important;
}
.h-50 {
    height: 50px !important;
}
.h-60 {
    height: 60px !important;
}
.h-70 {
    height: 70px !important;
}
.h-80 {
    height: 80px !important;
}
.h-90 {
    height: 90px !important;
}
.h-100 {
    height: 100px !important;
}


/*
MEDIA QUERIES
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .welcome-page-image .img-textbox .welcome-msg {
        font-size: 27px;
        padding-bottom: 10px;
        letter-spacing: 0.5px;
    }
    .welcome-page-image .img-textbox .personalized {
        font-size: 20px;
        letter-spacing: 0.5px;

    }
    .welcome-page-image .img-textbox .ucr {
        font-size: 18px;
        letter-spacing: 0.5px;

    }
    .welcome-page-image .img-textbox .start-today {
        font-size: 18px;
        padding: 15px;
    }

    .mobile-100 {
        width: 100%;
    }

    .small-100 {
        width: 100% !important;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .welcome-page-image .img-textbox .welcome-msg {
        font-size: 33px;
        padding-bottom: 10px;
    }
    .welcome-page-image .img-textbox .personalized {
        font-size: 20px;

    }
    .welcome-page-image .img-textbox .ucr {
        font-size: 18px;

    }
    .welcome-page-image .img-textbox .start-today {
        font-size: 18px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .welcome-page-image .img-textbox .welcome-msg {
        font-size: 40px;
    }
    .welcome-page-image .img-textbox .personalized {
        font-size: 20px;

    }
    .welcome-page-image .img-textbox .ucr {
        font-size: 18px;

    }
    .welcome-page-image .img-textbox .start-today {
        font-size: 18px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .welcome-page-image .img-textbox .welcome-msg {
        font-size: 50px;
        padding-bottom: 10px;
    }
    .welcome-page-image .img-textbox .personalized {
        font-size: 23px;

    }
    .welcome-page-image .img-textbox .ucr {
        font-size: 20px;

    }
    .welcome-page-image .img-textbox .start-today {
        font-size: 18px;
    }

    .sidebar {
        width: 14rem !important;
    }

    .sidebar-toggler {
        display: none !important;
    }

    .content-inner {
        margin-left: 14rem !important;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}